:root{
  background:url(../public/background.jpg);
  background-size: cover;
  background-repeat:no-repeat;
  cursor: default;
  filter: invert(100);
}

.wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container{
  color: white;
  background-color: #00000088;
  width: 95%;
  text-align: center;
  height: fit-content;
  border-radius: 1rem;
}

.content{  
  margin: 2%;
  text-align: left;
  font-size: 1.3rem;
}